<nav *ngIf="location.path().indexOf('eventslist')==-1" class="navbar navbar-expand-lg navbar-light light-seagreen py-3">
  <a class="navbar-brand brown">
    <b>EventSystem</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/eventslist']" class="nav-link">Event List
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/bookinglist']" class="nav-link">My Bookings
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>